<%- include('includes/head'); %>
  <%- include('includes/nav'); %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
          <h1 class="text-center my-3">Wellcome</h1>

           <%- include('includes/messages') %> 

          <div class="row">

            <div class="col-lg">
              <h4 class="my-3">Sign in:</h4>
              
              <form class="form-cadastro my-5" action="/signIn/register" method="POST">
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                <div class="mb-3">
                  <label>E-mail:</label>
                  <input type="email" class="form-control" name="email">
                </div>
                
                <div class="mb-3">
                  <label>Password:</label>
                  <input type="password" class="form-control" name="password">
                </div>

                <div class="mb-3">
                  <label>Repeat password:</label>
                  <input type="password" class="form-control" name="password2">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              
            </div>
          </div>

        </div>


        <div class="col-lg-2"></div>

      </div>
    </div>

    <%- include('includes/footer'); %>